#container {
  width: 100%;
  height: 500px;
  text-align: center;
  margin: 50px auto;
  background-color: #101820ff;
  color: #fee715ff;
}

#font {
  font-size: 20px;
  color: #101820ff;
  margin: 45%;
}
